<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wordchecker.mapper.BoardMapper">
	<resultMap type="BoardMember" id="boardMember">
		<association property="board" javaType="Board">
			<id column="b_no" property="no"/>
			<result column="title" property="title" />
			<result column="content" property="content" />
			<result column="member_no" property="memberNo" />
			<result column="wrtie_date" property="writeDate" />
			<result column="b_state" property="state" />
		</association>
		<association property="member" javaType="Member">
			<result column="m_no" property="no" />
			<result column="email" property="email" />
			<result column="password" property="password" />
			<result column="nickname" property="nickname" />
			<result column="birthday" property="birthday" />
			<result column="last_login" property="lastLogin" />
			<result column="join_date" property="joinDate" />
			<result column="m_state" property="state" />
		</association>
	</resultMap>
	
	<select id="selectBoardMember" resultMap="boardMember">
		select b.no b_no, b.title, b.content, b.member_no, b.write_date, b.state b_state, 
		m.no m_no, m.email, m.password, m.nickname, m.birthday, m.last_login, m.join_date, m.state m_state 
		from board b join (select no from board 
		<trim prefix="where" suffixOverrides="and|or">
		<if test="title != null">
			title like concat('%',#{title},'%') and
		</if>
		<if test="content != null">
			content like concat('%',#{content},'%') and
		</if>
		<if test="startDate != '' and endDate != ''">
			(substr(write_date,1,10) between #{startDate} and #{endDate}) and
		</if>
		</trim> 
		limit #{start}, #{length}) i on b.no=i.no left join (select * from member
		<if test="nickname != null">
			where nickname like concat('%',#{nickname},'%')
		</if>
		) m on b.member_no=m.no order by b.no desc
	</select>
	
	<select id="selectBoardNo" resultType="Board">
		select * from board where no=#{no}
	</select>
	
	<insert id="insertBoard">
		insert into board(title, content, member_no, write_date, state) values(#{title}, #{content}, #{memberNo}, now(), 1)
	</insert>
	<update id="updateBoard">
		update board 
		<set>
			<if test="title != null">
				title=#{title}
			</if>
			<if test="content!= null">
				content=#{content}
			</if>
			write_date=now()
		</set>
		 where no=#{no}
	</update>
	
	<update id="updateBoardState">
		update board set state=#{state} wherno=#{no}
	</update>
</mapper>